openapi: 3.0.0
info:
  contact:
    name: Twitter Developers
    url: https://developer.twitter.com/
  description: Twitter API v2 available endpoints
  license:
    name: Twitter Developer Agreement and Policy
    url: https://developer.twitter.com/en/developer-terms/agreement-and-policy.html
  termsOfService: https://developer.twitter.com/en/developer-terms/agreement-and-policy.html
  title: Twitter API v2
  version: "2.54"
servers:
- description: Twitter API
  url: https://api.twitter.com
tags:
- description: "Endpoints related to retrieving, managing bookmarks of a user"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/bookmarks
  name: Bookmarks
- description: Endpoints related to keeping Twitter data in your systems compliant
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-tweet/introduction
  name: Compliance
- description: Miscellaneous endpoints for general API functionality
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api
  name: General
- description: "Endpoints related to retrieving, managing Lists"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/lists
  name: Lists
- description: "Endpoints related to retrieving, managing Spaces"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/spaces
  name: Spaces
- description: "Endpoints related to retrieving, searching, and modifying Tweets"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup
  name: Tweets
- description: "Endpoints related to retrieving, managing relationships of Users"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/users/lookup
  name: Users
paths:
  /2/compliance/jobs:
    get:
      description: Returns recent Compliance Jobs for a given job type and optional
        job status
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/get-compliance-jobs
      operationId: listBatchComplianceJobs
      parameters:
      - description: Type of Compliance Job to list.
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - tweets
          - users
          type: string
        style: form
      - description: Status of Compliance Job to list.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - created
          - in_progress
          - failed
          - complete
          type: string
        style: form
      - description: A comma separated list of ComplianceJob fields to display.
        explode: false
        in: query
        name: compliance_job.fields
        required: false
        schema:
          description: The fields available for a ComplianceJob object.
          example:
          - created_at
          - download_expires_at
          - download_url
          - id
          - name
          - resumable
          - status
          - type
          - upload_expires_at
          - upload_url
          items:
            enum:
            - created_at
            - download_expires_at
            - download_url
            - id
            - name
            - resumable
            - status
            - type
            - upload_expires_at
            - upload_url
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ComplianceJobsResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: List Compliance Jobs
      tags:
      - Compliance
      x-accepts: application/json
    post:
      description: Creates a compliance for the given job type
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/post-compliance-jobs
      operationId: createBatchComplianceJob
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComplianceJobRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateComplianceJobResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: Create compliance job
      tags:
      - Compliance
      x-content-type: application/json
      x-accepts: application/json
  /2/compliance/jobs/{id}:
    get:
      description: Returns a single Compliance Job by ID
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/get-compliance-jobs-id
      operationId: getBatchComplianceJob
      parameters:
      - description: The ID of the Compliance Job to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/JobId'
        style: simple
      - description: A comma separated list of ComplianceJob fields to display.
        explode: false
        in: query
        name: compliance_job.fields
        required: false
        schema:
          description: The fields available for a ComplianceJob object.
          example:
          - created_at
          - download_expires_at
          - download_url
          - id
          - name
          - resumable
          - status
          - type
          - upload_expires_at
          - upload_url
          items:
            enum:
            - created_at
            - download_expires_at
            - download_url
            - id
            - name
            - resumable
            - status
            - type
            - upload_expires_at
            - upload_url
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ComplianceJobsIdResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: Get Compliance Job
      tags:
      - Compliance
      x-accepts: application/json
  /2/lists:
    post:
      description: Creates a new List.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/post-lists
      operationId: listIdCreate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCreateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCreateResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - list.read
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Create List
      tags:
      - Lists
      x-content-type: application/json
      x-accepts: application/json
  /2/lists/{id}:
    delete:
      description: Delete a List that you own.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/delete-lists-id
      operationId: listIdDelete
      parameters:
      - description: The ID of the List to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeleteResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Delete List
      tags:
      - Lists
      x-accepts: application/json
    get:
      description: Returns a List.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-lookup/api-reference/get-lists-id
      operationId: listIdGet
      parameters:
      - description: The ID of the List.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - description: A comma separated list of List fields to display.
        explode: false
        in: query
        name: list.fields
        required: false
        schema:
          description: The fields available for a List object.
          example:
          - created_at
          - description
          - follower_count
          - id
          - member_count
          - name
          - owner_id
          - private
          items:
            enum:
            - created_at
            - description
            - follower_count
            - id
            - member_count
            - name
            - owner_id
            - private
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [List](#List) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - owner_id
          items:
            enum:
            - owner_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ListsIdResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      summary: List lookup by List ID.
      tags:
      - Lists
      x-accepts: application/json
    put:
      description: Update a List that you own.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/put-lists-id
      operationId: listIdUpdate
      parameters:
      - description: The ID of the List to modify.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUpdateResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Update List.
      tags:
      - Lists
      x-content-type: application/json
      x-accepts: application/json
  /2/lists/{id}/followers:
    get:
      description: Returns a list of Users that follow a List by the provided List
        ID
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/get-users-id-followers
      operationId: listGetFollowers
      parameters:
      - description: The ID of the List.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - description: The maximum number of results.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get a specified 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationTokenLong'
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [User](#User) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ListsIdFollowersResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      summary: Returns User objects that follow a List by the provided List ID
      tags:
      - Users
      x-accepts: application/json
  /2/lists/{id}/members:
    get:
      description: Returns a list of Users that are members of a List by the provided
        List ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/get-users-id-list_memberships
      operationId: listGetMembers
      parameters:
      - description: The ID of the List.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - description: The maximum number of results.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get a specified 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationTokenLong'
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [User](#User) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ListsIdMembersResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      summary: Returns User objects that are members of a List by the provided List
        ID.
      tags:
      - Users
      x-accepts: application/json
    post:
      description: Causes a User to become a member of a List.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/post-lists-id-members
      operationId: listAddMember
      parameters:
      - description: The ID of the List for which to add a member.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAddUserRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMutateResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Add a List member
      tags:
      - Lists
      x-content-type: application/json
      x-accepts: application/json
  /2/lists/{id}/members/{user_id}:
    delete:
      description: Causes a User to be removed from the members of a List.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/delete-lists-id-members-user_id
      operationId: listRemoveMember
      parameters:
      - description: The ID of the List to remove a member.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - description: The ID of User that will be removed from the List.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMutateResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Remove a List member
      tags:
      - Lists
      x-accepts: application/json
  /2/lists/{id}/tweets:
    get:
      description: Returns a list of Tweets associated with the provided List ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-tweets/api-reference/get-lists-id-tweets
      operationId: listsIdTweets
      parameters:
      - description: The ID of the List.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - description: The maximum number of results.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get the next 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Tweet](#Tweet) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - attachments.media_keys
          - attachments.poll_ids
          - author_id
          - edit_history_tweet_ids
          - entities.mentions.username
          - geo.place_id
          - in_reply_to_user_id
          - referenced_tweets.id
          - referenced_tweets.id.author_id
          items:
            enum:
            - attachments.media_keys
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - referenced_tweets.id
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The fields available for a Media object.
          example:
          - alt_text
          - duration_ms
          - height
          - media_key
          - non_public_metrics
          - organic_metrics
          - preview_image_url
          - promoted_metrics
          - public_metrics
          - type
          - url
          - variants
          - width
          items:
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The fields available for a Poll object.
          example:
          - duration_minutes
          - end_datetime
          - id
          - options
          - voting_status
          items:
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The fields available for a Place object.
          example:
          - contained_within
          - country
          - country_code
          - full_name
          - geo
          - id
          - name
          - place_type
          items:
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ListsIdTweetsResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      summary: List Tweets timeline by List ID.
      tags:
      - Tweets
      x-accepts: application/json
  /2/openapi.json:
    get:
      description: Full OpenAPI Specification in JSON format. (See https://github.com/OAI/OpenAPI-Specification/blob/master/README.md)
      operationId: getOpenApiSpec
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: The request was successful
      summary: Returns the OpenAPI Specification document.
      tags:
      - General
      x-accepts: application/json
  /2/spaces:
    get:
      description: Returns a variety of information about the Spaces specified by
        the requested IDs
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces
      operationId: findSpacesByIds
      parameters:
      - description: The list of Space IDs to return.
        explode: true
        in: query
        name: ids
        required: true
        schema:
          items:
            description: The unique identifier of this Space.
            example: 1SLjjRYNejbKM
            pattern: "^[a-zA-Z0-9]{1,13}$"
            type: string
          maxItems: 100
          minItems: 1
          type: array
        style: form
      - description: A comma separated list of Space fields to display.
        explode: false
        in: query
        name: space.fields
        required: false
        schema:
          description: The fields available for a Space object.
          example:
          - created_at
          - creator_id
          - ended_at
          - host_ids
          - id
          - invited_user_ids
          - is_ticketed
          - lang
          - participant_count
          - scheduled_start
          - speaker_ids
          - started_at
          - state
          - subscriber_count
          - title
          - topic_ids
          - updated_at
          items:
            enum:
            - created_at
            - creator_id
            - ended_at
            - host_ids
            - id
            - invited_user_ids
            - is_ticketed
            - lang
            - participant_count
            - scheduled_start
            - speaker_ids
            - started_at
            - state
            - subscriber_count
            - title
            - topic_ids
            - updated_at
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Space](#Space) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - creator_id
          - host_ids
          - invited_user_ids
          - speaker_ids
          - topic_ids
          items:
            enum:
            - creator_id
            - host_ids
            - invited_user_ids
            - speaker_ids
            - topic_ids
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Topic fields to display.
        explode: false
        in: query
        name: topic.fields
        required: false
        schema:
          description: The fields available for a Topic object.
          example:
          - description
          - id
          - name
          items:
            enum:
            - description
            - id
            - name
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      summary: Space lookup up Space IDs
      tags:
      - Spaces
      x-accepts: application/json
  /2/spaces/by/creator_ids:
    get:
      description: Returns a variety of information about the Spaces created by the
        provided User IDs
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-by-creator-ids
      operationId: findSpacesByCreatorIds
      parameters:
      - description: The IDs of Users to search through.
        explode: true
        in: query
        name: user_ids
        required: true
        schema:
          items:
            $ref: '#/components/schemas/UserId'
          maxItems: 100
          minItems: 1
          type: array
        style: form
      - description: A comma separated list of Space fields to display.
        explode: false
        in: query
        name: space.fields
        required: false
        schema:
          description: The fields available for a Space object.
          example:
          - created_at
          - creator_id
          - ended_at
          - host_ids
          - id
          - invited_user_ids
          - is_ticketed
          - lang
          - participant_count
          - scheduled_start
          - speaker_ids
          - started_at
          - state
          - subscriber_count
          - title
          - topic_ids
          - updated_at
          items:
            enum:
            - created_at
            - creator_id
            - ended_at
            - host_ids
            - id
            - invited_user_ids
            - is_ticketed
            - lang
            - participant_count
            - scheduled_start
            - speaker_ids
            - started_at
            - state
            - subscriber_count
            - title
            - topic_ids
            - updated_at
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Space](#Space) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - creator_id
          - host_ids
          - invited_user_ids
          - speaker_ids
          - topic_ids
          items:
            enum:
            - creator_id
            - host_ids
            - invited_user_ids
            - speaker_ids
            - topic_ids
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Topic fields to display.
        explode: false
        in: query
        name: topic.fields
        required: false
        schema:
          description: The fields available for a Topic object.
          example:
          - description
          - id
          - name
          items:
            enum:
            - description
            - id
            - name
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesByCreatorIdsResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      summary: Space lookup by their creators
      tags:
      - Spaces
      x-accepts: application/json
  /2/spaces/search:
    get:
      description: Returns Spaces that match the provided query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/search/api-reference/get-spaces-search
      operationId: searchSpaces
      parameters:
      - description: The search query.
        example: crypto
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: crypto
          maxLength: 2048
          minLength: 1
          type: string
        style: form
      - description: The state of Spaces to search for.
        explode: true
        in: query
        name: state
        required: false
        schema:
          default: all
          enum:
          - live
          - scheduled
          - all
          type: string
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A comma separated list of Space fields to display.
        explode: false
        in: query
        name: space.fields
        required: false
        schema:
          description: The fields available for a Space object.
          example:
          - created_at
          - creator_id
          - ended_at
          - host_ids
          - id
          - invited_user_ids
          - is_ticketed
          - lang
          - participant_count
          - scheduled_start
          - speaker_ids
          - started_at
          - state
          - subscriber_count
          - title
          - topic_ids
          - updated_at
          items:
            enum:
            - created_at
            - creator_id
            - ended_at
            - host_ids
            - id
            - invited_user_ids
            - is_ticketed
            - lang
            - participant_count
            - scheduled_start
            - speaker_ids
            - started_at
            - state
            - subscriber_count
            - title
            - topic_ids
            - updated_at
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Space](#Space) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - creator_id
          - host_ids
          - invited_user_ids
          - speaker_ids
          - topic_ids
          items:
            enum:
            - creator_id
            - host_ids
            - invited_user_ids
            - speaker_ids
            - topic_ids
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Topic fields to display.
        explode: false
        in: query
        name: topic.fields
        required: false
        schema:
          description: The fields available for a Topic object.
          example:
          - description
          - id
          - name
          items:
            enum:
            - description
            - id
            - name
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesSearchResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      summary: Search for Spaces
      tags:
      - Spaces
      x-accepts: application/json
  /2/spaces/{id}:
    get:
      description: Returns a variety of information about the Space specified by the
        requested ID
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id
      operationId: findSpaceById
      parameters:
      - description: The ID of the Space to be retrieved.
        example: 1YqKDqWqdPLsV
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of this Space.
          example: 1SLjjRYNejbKM
          pattern: "^[a-zA-Z0-9]{1,13}$"
          type: string
        style: simple
      - description: A comma separated list of Space fields to display.
        explode: false
        in: query
        name: space.fields
        required: false
        schema:
          description: The fields available for a Space object.
          example:
          - created_at
          - creator_id
          - ended_at
          - host_ids
          - id
          - invited_user_ids
          - is_ticketed
          - lang
          - participant_count
          - scheduled_start
          - speaker_ids
          - started_at
          - state
          - subscriber_count
          - title
          - topic_ids
          - updated_at
          items:
            enum:
            - created_at
            - creator_id
            - ended_at
            - host_ids
            - id
            - invited_user_ids
            - is_ticketed
            - lang
            - participant_count
            - scheduled_start
            - speaker_ids
            - started_at
            - state
            - subscriber_count
            - title
            - topic_ids
            - updated_at
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Space](#Space) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - creator_id
          - host_ids
          - invited_user_ids
          - speaker_ids
          - topic_ids
          items:
            enum:
            - creator_id
            - host_ids
            - invited_user_ids
            - speaker_ids
            - topic_ids
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Topic fields to display.
        explode: false
        in: query
        name: topic.fields
        required: false
        schema:
          description: The fields available for a Topic object.
          example:
          - description
          - id
          - name
          items:
            enum:
            - description
            - id
            - name
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesIdResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      summary: Space lookup by Space ID
      tags:
      - Spaces
      x-accepts: application/json
  /2/spaces/{id}/buyers:
    get:
      description: Retrieves the list of Users who purchased a ticket to the given
        space
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id-buyers
      operationId: spaceBuyers
      parameters:
      - description: The ID of the Space to be retrieved.
        example: 1YqKDqWqdPLsV
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of this Space.
          example: 1SLjjRYNejbKM
          pattern: "^[a-zA-Z0-9]{1,13}$"
          type: string
        style: simple
      - description: This parameter is used to get a specified 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken32'
        style: form
      - description: The maximum number of results.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [User](#User) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesIdBuyersResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      summary: Retrieve the list of Users who purchased a ticket to the given space
      tags:
      - Spaces
      - Tweets
      x-accepts: application/json
  /2/spaces/{id}/tweets:
    get:
      description: Retrieves Tweets shared in the specified Space.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id-tweets
      operationId: spaceTweets
      parameters:
      - description: The ID of the Space to be retrieved.
        example: 1YqKDqWqdPLsV
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of this Space.
          example: 1SLjjRYNejbKM
          pattern: "^[a-zA-Z0-9]{1,13}$"
          type: string
        style: simple
      - description: "The number of Tweets to fetch from the provided space. If not\
          \ provided, the value will default to the maximum of 100."
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          example: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Tweet](#Tweet) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - attachments.media_keys
          - attachments.poll_ids
          - author_id
          - edit_history_tweet_ids
          - entities.mentions.username
          - geo.place_id
          - in_reply_to_user_id
          - referenced_tweets.id
          - referenced_tweets.id.author_id
          items:
            enum:
            - attachments.media_keys
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - referenced_tweets.id
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The fields available for a Media object.
          example:
          - alt_text
          - duration_ms
          - height
          - media_key
          - non_public_metrics
          - organic_metrics
          - preview_image_url
          - promoted_metrics
          - public_metrics
          - type
          - url
          - variants
          - width
          items:
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The fields available for a Poll object.
          example:
          - duration_minutes
          - end_datetime
          - id
          - options
          - voting_status
          items:
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The fields available for a Place object.
          example:
          - contained_within
          - country
          - country_code
          - full_name
          - geo
          - id
          - name
          - place_type
          items:
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesIdTweetsResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      summary: Retrieve Tweets from a Space.
      tags:
      - Spaces
      - Tweets
      x-accepts: application/json
  /2/tweets:
    get:
      description: Returns a variety of information about the Tweet specified by the
        requested ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup/api-reference/get-tweets
      operationId: findTweetsById
      parameters:
      - description: A comma separated list of Tweet IDs. Up to 100 are allowed in
          a single request.
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            $ref: '#/components/schemas/TweetId'
          maxItems: 100
          minItems: 1
          type: array
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Tweet](#Tweet) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - attachments.media_keys
          - attachments.poll_ids
          - author_id
          - edit_history_tweet_ids
          - entities.mentions.username
          - geo.place_id
          - in_reply_to_user_id
          - referenced_tweets.id
          - referenced_tweets.id.author_id
          items:
            enum:
            - attachments.media_keys
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - referenced_tweets.id
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The fields available for a Media object.
          example:
          - alt_text
          - duration_ms
          - height
          - media_key
          - non_public_metrics
          - organic_metrics
          - preview_image_url
          - promoted_metrics
          - public_metrics
          - type
          - url
          - variants
          - width
          items:
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The fields available for a Poll object.
          example:
          - duration_minutes
          - end_datetime
          - id
          - options
          - voting_status
          items:
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The fields available for a Place object.
          example:
          - contained_within
          - country
          - country_code
          - full_name
          - geo
          - id
          - name
          - place_type
          items:
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      summary: Tweet lookup by Tweet IDs
      tags:
      - Tweets
      x-accepts: application/json
    post:
      description: Causes the User to create a Tweet under the authorized account.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/manage-tweets/api-reference/post-tweets
      operationId: createTweet
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TweetCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetCreateResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - tweet.read
        - tweet.write
        - users.read
      - UserToken: []
      summary: Creation of a Tweet
      tags:
      - Tweets
      x-content-type: application/json
      x-accepts: application/json
  /2/tweets/compliance/stream:
    get:
      description: Streams 100% of compliance data for Tweets
      operationId: getTweetsComplianceStream
      parameters:
      - description: The number of minutes of backfill requested.
        explode: true
        in: query
        name: backfill_minutes
        required: false
        schema:
          format: int32
          maximum: 5
          minimum: 0
          type: integer
        style: form
      - description: The partition number.
        explode: true
        in: query
        name: partition
        required: true
        schema:
          format: int32
          maximum: 4
          minimum: 1
          type: integer
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the
          Tweet Compliance events will be provided.
        example: 2021-02-01T18:40:40.000Z
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Tweet
          Compliance events will be provided.
        example: 2021-02-14T18:40:40.000Z
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetComplianceStreamResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: Tweets Compliance stream
      tags:
      - Compliance
      x-twitter-streaming: true
      x-accepts: application/json
  /2/tweets/counts/all:
    get:
      description: Returns Tweet Counts that match a search query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-all
      operationId: tweetCountsFullArchiveSearch
      parameters:
      - description: One query/rule/filter for matching Tweets. Refer to https://t.co/rulelength
          to identify the max query length.
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
          maxLength: 4096
          minLength: 1
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp (from most recent
          7 days) from which the Tweets will be provided. Timestamp is in second granularity
          and is inclusive (i.e. 12:00:01 includes the first second of the minute).
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp\
          \ to which the Tweets will be provided. Timestamp is in second granularity\
          \ and is exclusive (i.e. 12:00:01 excludes the first second of the minute)."
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Returns results with a Tweet ID greater than (that is, more\
          \ recent than) the specified ID."
        explode: true
        in: query
        name: since_id
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - description: "Returns results with a Tweet ID less than (that is, older than)\
          \ the specified ID."
        explode: true
        in: query
        name: until_id
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - description: "This parameter is used to get the next 'page' of results. The\
          \ value used with the parameter is pulled directly from the response provided\
          \ by the API, and should not be modified."
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - description: "This parameter is used to get the next 'page' of results. The\
          \ value used with the parameter is pulled directly from the response provided\
          \ by the API, and should not be modified."
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - description: The granularity for the search counts results.
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          default: hour
          enum:
          - minute
          - hour
          - day
          type: string
        style: form
      - description: A comma separated list of SearchCount fields to display.
        explode: false
        in: query
        name: search_count.fields
        required: false
        schema:
          description: The fields available for a SearchCount object.
          example:
          - end
          - start
          - tweet_count
          items:
            enum:
            - end
            - start
            - tweet_count
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsCountsAllResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: Full archive search counts
      tags:
      - Tweets
      x-accepts: application/json
  /2/tweets/counts/recent:
    get:
      description: Returns Tweet Counts from the last 7 days that match a search query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/counts/api-reference/get-tweets-counts-recent
      operationId: tweetCountsRecentSearch
      parameters:
      - description: One query/rule/filter for matching Tweets. Refer to https://t.co/rulelength
          to identify the max query length.
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
          maxLength: 4096
          minLength: 1
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp (from most recent
          7 days) from which the Tweets will be provided. Timestamp is in second granularity
          and is inclusive (i.e. 12:00:01 includes the first second of the minute).
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp\
          \ to which the Tweets will be provided. Timestamp is in second granularity\
          \ and is exclusive (i.e. 12:00:01 excludes the first second of the minute)."
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Returns results with a Tweet ID greater than (that is, more\
          \ recent than) the specified ID."
        explode: true
        in: query
        name: since_id
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - description: "Returns results with a Tweet ID less than (that is, older than)\
          \ the specified ID."
        explode: true
        in: query
        name: until_id
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - description: "This parameter is used to get the next 'page' of results. The\
          \ value used with the parameter is pulled directly from the response provided\
          \ by the API, and should not be modified."
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - description: "This parameter is used to get the next 'page' of results. The\
          \ value used with the parameter is pulled directly from the response provided\
          \ by the API, and should not be modified."
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - description: The granularity for the search counts results.
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          default: hour
          enum:
          - minute
          - hour
          - day
          type: string
        style: form
      - description: A comma separated list of SearchCount fields to display.
        explode: false
        in: query
        name: search_count.fields
        required: false
        schema:
          description: The fields available for a SearchCount object.
          example:
          - end
          - start
          - tweet_count
          items:
            enum:
            - end
            - start
            - tweet_count
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsCountsRecentResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: Recent search counts
      tags:
      - Tweets
      x-accepts: application/json
  /2/tweets/firehose/stream:
    get:
      description: Streams 100% of public Tweets.
      operationId: getTweetsFirehoseStream
      parameters:
      - description: The number of minutes of backfill requested.
        explode: true
        in: query
        name: backfill_minutes
        required: false
        schema:
          format: int32
          maximum: 5
          minimum: 0
          type: integer
        style: form
      - description: The partition number.
        explode: true
        in: query
        name: partition
        required: true
        schema:
          format: int32
          maximum: 20
          minimum: 1
          type: integer
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the
          Tweets will be provided.
        example: 2021-02-14T18:40:40.000Z
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Tweets
          will be provided.
        example: 2021-02-14T18:40:40.000Z
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Tweet](#Tweet) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - attachments.media_keys
          - attachments.poll_ids
          - author_id
          - edit_history_tweet_ids
          - entities.mentions.username
          - geo.place_id
          - in_reply_to_user_id
          - referenced_tweets.id
          - referenced_tweets.id.author_id
          items:
            enum:
            - attachments.media_keys
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - referenced_tweets.id
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The fields available for a Media object.
          example:
          - alt_text
          - duration_ms
          - height
          - media_key
          - non_public_metrics
          - organic_metrics
          - preview_image_url
          - promoted_metrics
          - public_metrics
          - type
          - url
          - variants
          - width
          items:
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The fields available for a Poll object.
          example:
          - duration_minutes
          - end_datetime
          - id
          - options
          - voting_status
          items:
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The fields available for a Place object.
          example:
          - contained_within
          - country
          - country_code
          - full_name
          - geo
          - id
          - name
          - place_type
          items:
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingTweetResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: Firehose stream
      tags:
      - Tweets
      x-twitter-streaming: true
      x-accepts: application/json
  /2/tweets/label/stream:
    get:
      description: Streams 100% of labeling events applied to Tweets
      operationId: getTweetsLabelStream
      parameters:
      - description: The number of minutes of backfill requested.
        explode: true
        in: query
        name: backfill_minutes
        required: false
        schema:
          format: int32
          maximum: 5
          minimum: 0
          type: integer
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the
          Tweet labels will be provided.
        example: 2021-02-01T18:40:40.000Z
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp from which the
          Tweet labels will be provided.
        example: 2021-02-01T18:40:40.000Z
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetLabelStreamResponse'
[...]
